# dont commit the actual api keys or other personal info to the public github
#configs/authors.txt
configs/keys.ini
#configs/paper_topics.txt
# dont commit venv and ide stuff
venv
.idea
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.DS_Store
*.sublime-workspace
*.sublime-project
*__pycache__*
condor_logs/
*.sb
Gemfile.lock